
/* versi dexstop dan andorid */

.navbar{
  position: relative;
  z-index: 1;
}
.navbar-brand{
  font-family: viga;
  font-size: 32px;
}

.slideshow::after{
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top, rgba(0,0,0,3), rgba(0,0,0,0));
  position: absolute;
  bottom: 0;
}

.slideshow{
  margin-top: -75px;
  text-align: center;
  position: relative;
  background-size: cover;
}


.slideshow img{
 margin-top: 15px;
  height: 500px;
  position: relative;


}

.kategori{
  margin-top: 30px;
  text-align: center;
  
}

.kategori .card{

  margin-top: 30px;
  background-color:rgb(255, 249, 249);
  box-shadow: 0 3px 20px rgba(0, 0,0, 0.5);
}

.kategori img{
  width: 100%;
  height: 200px;
}

.all-menu .card{
  margin-top: 30px;
  background-color:rgb(255, 249, 249);
  box-shadow: 0 3px 20px rgba(0, 0,0, 0.5);
}







.tombol{
  text-transform: uppercase;
  border-radius: 40px;
}


@media (min-width: 992px) {

  .navbar-brand,.nav-link{
    color: black !important;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  }
    .nav-link{
      text-transform: uppercase;
      margin-right: 30px;
      
    }
    
    .nav-link:hover::after{
      content: '';
      display: block;
      border-bottom: 3px solid rgb(0, 0, 0);
      width: 50%;
      margin: auto;
      padding-bottom: 5px;
      margin-bottom: -8px;
    }

    .slideshow img{
      height: 540px;
    }


    .paralax{
      margin-top: 30px;
      margin-bottom: 30px;
      background-image: url(../img/2.jpg);
      background-position: 0 -300px;
      background-size: cover;
      background-attachment: fixed;
      height: 200px;
      text-align: center;
    }

    
  

}


