/* versi dexstop dan andorid */

.navbar{
  position: relative;
  z-index: 1;
}
.navbar-brand{
  font-family: viga;
  font-size: 32px;
}
/* jumbotron */

.jumbotron{
  background-image: url(../img/5.jpg);
  background-size: cover;
  height: 540px;
  text-align: center;
  position: relative;

}
.jumbotron .container{
  z-index: 1;
  position: relative;
}

.jumbotron::after{
  content: '';
  display: block;
  width: 100%;
  height: 50%;
  background-image: linear-gradient(to top, rgba(0,0,0,3), rgba(0,0,0,0));
  position: absolute;
  bottom: 0;
}

.jumbotron .display-4{
  font-family:Pacifico;;
  color:white;
  margin-top: 150px;  
  font-weight: 150;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  font-size: 40px;
  margin-bottom: 30px;
  
}
.jumbotron .display-4 span{
  font-weight: 600;
}


/* info panel */

.info-panel{
  box-shadow: 0 3px 20px rgba(0, 0,0, 0.5);
  border-radius: 12px;
  margin-top: -125px;
  background-color: white;
  padding: 30px;
}

.info-panel img{
  width: 100px;
  height: 100px;
  margin-right: 20px;
  margin-bottom: 20px;
  
}

.info-panel h4{
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 5px;
}

.info-panel p{
  font-size: 14px;
  margin-top: -5px;
}

.info-panel .minimalis{
  width: 20px;
  height: 20px;

}

.info-panel span{
  font-size: 14px;

}

/* work */

.work{
  margin-top: 50px;
  text-align: center;
  margin-bottom: 30px;
}

.work h3{
  font-size: 50px;
  font-weight: 200;
  text-transform: uppercase;
  margin-top: 30px;
}

.work p{
  font-size: 18px;
}

.work img{
  height: 400px;
  font-weight: 200;
}

/* paralax kategori */

.partner{
  background-image: url(../img/paralax.jpg);
  background-size: cover;
  height: 500px;
  text-align: center;
}

.partner h3{
  margin-top: 15px;
  color: white;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  text-align: center;
 
}

.partner img{
  margin-top: 10px;
  width: 200px;
  height: 80px;
  margin-right: 20px;
  margin-bottom: 20px;
  filter: drop-shadow(1px 1px 1px rgba(255, 255, 255, 0.5));
}

/* kategori */

.kategori{
  margin-top: 30px;
 
}

.kategori .card{
 
  margin-top: 30px;
  background-color:rgb(255, 249, 249);
  box-shadow: 0 3px 20px rgba(0, 0,0, 0.5);
 
  
}

.kategori .card img{

  width: 100%;
  height: 200px;
}

.kategori .card h5{
  text-align: center;
}

.kategori a{
  text-decoration: none;
  color: black;
}


/* kontak */

.kontak{
  margin-top: 30px;
  background-color: rgb(167, 164, 164);
}

.kontak h2{
  margin-top: 15px;
  margin-bottom: 15px;

}






/* utility */
.tombol{
  text-transform: uppercase;
  border-radius: 40px;
  
}


/* dexstop versi */

@media (min-width: 992px) {

  .navbar-brand,.nav-link{
    color: black !important;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  }
    .nav-link{
      text-transform: uppercase;
      margin-right: 30px;
      
    }
    
    .nav-link:hover::after{
      content: '';
      display: block;
      border-bottom: 3px solid rgb(0, 0, 0);
      width: 50%;
      margin: auto;
      padding-bottom: 5px;
      margin-bottom: -8px;
    }

   
   
  
    .jumbotron{
      margin-top: -75px;
      height: 500px;
      background-attachment: fixed;
      background-position: 0 -200px;
    }

    .jumbotron .display-4{
      color: black;
      margin-top: 100px;  
      font-weight: 200;
      text-shadow: 1px 1px 1px rgb(255, 255, 255);
      font-size: 30px;
      margin-bottom: 30px;
    }

  .jumbotron .display-4 span{
    font-size: 70px;
  }

  .work{
    text-align: left;
  }

  .work h3{
    text-align: center;
  }
  
  .partner{
    background-attachment: fixed;
    height: 200px;
  }
  .partner img{
    width: 200px;
    height: 100px;
  }

  .kategori .card{
    margin-bottom: 80px;
  }
 

  }